<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.recycup.recycup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SaleActivity"></activity>
        <activity android:name=".MapActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".ChargePointActivity" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".QRCodeActivity" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CupInfoActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity"></activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="fa10e8d4088b9c36cff79c29501e17e2" />
    </application>

</manifest>